html, body {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Fira Code', monospace;
  width: 100%;
  height: 100%;
}

img {
  display: inline-block;
  padding-left: 1%;
}
.skills{
  margin-left:4%;
}
.footer {
  text-align: center;
}
.profile{
  position:sticky;
  max-width: 21vh;
  margin-top:4%;
}

.firstimg {
  display: inline-block;
  padding-left: 0%;
}

.space {
  margin-top: 3%;
}
.meskills{
  margin-top:8%;
}
.break {
  margin-top: 7%;
  display:block;
  position:absolute;
}

.spaceskill {
  margin-top: 2%;
}
.type{
  margin-top:3%;
  position:relative;
  color:#1fdf59;
  text-align:center;
  width:100%;
  font-size:3vh;
  font-weight:bold;
  display:block;

}
.type2{
  display:block;
  position:relative;
  color:#ff1d1d;
  text-align:center;
  width:100%;
  font-size:3vh;
  font-weight:bold;
}

.technical {
  width: 70%;
  margin-left: 26%;
  margin-right: auto;
  text-align: left;
  margin-top: 5%;
  color: #FFFFFF;
  font-size: 70%;
  font-weight: lighter;
  position:relative;
  display: block;
}

.text {
  text-align: left;
  margin-left:4%;
  margin-top:2%;
  width: 65%;
  font-size: 1.8vh;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-weight: bolder
}



.container {
  width: 100%;
  height: 100%;
  position: relative;

  text-align:center;
}


.bottom {
  width: 100%;
  color: #FFFFFF;
  font-size: 70%;
  font-weight: lighter;
  position:absolute;
  display:block;
  background-image: linear-gradient(#162747, #444242);

}

.visited{
  position:absolute;
  background-color:#212122;
  width:100%;
  font-size:2vh;
  text-align: center;
}

.contact {

  width: 44%;
  margin: auto;

}
h1{
  font-size:2.8vh;
}
.contactheader {
  text-align: center;
}


#mb-3 {
  align-items: center;
  background-color: #454547;
  margin:auto;
  height: 30px;
  width: 76.53%;
  color: white;
  position: relative;
  display: block;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 2px solid #FFFFFF;
  border-radius: 0.25rem;

}


#mb-5 {
  color: white;
  background-color: #454547;
  height: 100px;
  width: 76.53%;
  margin:auto;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 2px solid #FFFFFF;
  border-radius: 0.25rem;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

}

#contactbutton {
  margin:auto;
  width: 78%;
  border: 2px solid #FFFFFF;
  padding: 1%;
  background-color: #162747;
  color: white;
  font-family: 'Fira Code', monospace;
  font-weight: bold;
  font-size: 150%;
  border-radius: 0.25rem;
  text-align: center;


}

#contactbutton:hover {
  background-color: #174292
}

#contactbutton:active {
  background-color: #232741;

}

@keyframes animation {
  0% {
    background-position: 0 0;
    opacity: 0;
    width: 0;
  }

  1% {
    background-position: 0 0;
    opacity: 1;

  }

  50% {
    background-position: 150px 0;
    opacity: 1;

  }



  100% {
    background-position: 400% 0;
    opacity: 1;

  }
    

  }


@keyframes shring-animation {
  0% {
    background-position: 0 0;
    opacity: 0;
    width: 0;
  }

  1% {
    background-position: 0 0;
    opacity: 1;
    border-right: 1px solid #ff1d1d;
  }

  50% {
    background-position: 150px 0;
    opacity: 1;
    border-right: 1px solid #ff1d1d;
  }

  100% {
    background-position: 400% 0;
    opacity: 1;
    border-right: 1px solid #ff1d1d;
  }
}

@keyframes type {
  0% {
    width: 0;
  }

  1%,
  99% {
    border-right: 1px solid #FFFFFF;
  }

  100% {
    border-right: none;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}




/* ---- particles.js container ---- */

#particles-js {
  width: 100%;
  height: 100%;
  background-color: #232741;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

