body{
  padding:0;
  margin: 0;
  text-align: center;
  font-family: 'Fira Code', monospace;
  width:100%;
  height:100%;
}

.TEST{
  font-size:90px;
  color:#FFFFFF;
  border-style:solid;
  border-color:black;
  border-width:5px;
}
img{
  display:inline-block;
  padding-left:1%;
}

.firstimg{
  display:inline-block;
  padding-left:0%;
}

.space{
  margin-top:3%;
}

.break{
  margin-top:6%;
}
.spaceskill{
  margin-top:2%;
}

.technical{
  width: 100%;
  margin-left: 30%;
  margin-right: auto;
  text-align: left;
  margin-top: 14%;
  position:absolute;
  color:#FFFFFF;
  font-size:70%;
  font-weight:lighter;
}

#text{
  text-align: left;
  width:45%;
  font-size:150%;
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-weight:400em;
} 
.container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position:absolute;
  
}

.parallax{
  display:flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height:100%;

  margin-top:30%;
}
.parallax:nth-child(1){
  background-color:#ff1d1d;

  height:2333300px;
}

.parallax:nth-child(2){
  background-color:#0026ff;

  height:200px;
}

.parallax:nth-child(3){
  background-color:#00ff22;

  height:200px;
}


.container h1:nth-child(1) {
  color: #FFFFFF;
  font-weight: 800;
  font-size: 130%;
  margin: 5% 0 0 35%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  animation: type 2s steps(40,end) forwards;
  width:17%;
}
.container h1:nth-child(2) {
  color: #ff1d1d;
  opacity:0;
  font-weight: 800;
  font-size: 130%;
  margin: 1% 0 0 35%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width:39%;
  animation: shring-animation 2.5s steps(65,end) 2s forwards, blink .5s step-end infinite alternate;
}
.container h1:nth-child(3) {
  color: #1fdf59;
  opacity:0;
  font-weight: 800;
  font-size: 130%;
  margin: 1% 0 0 35%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width:39%;
  animation: animation 2.5s steps(65,end) 2s forwards;
}
.contact{
  border-style:solid;
  border-width:1px;
  border-color:black;
  width:44%;
}
.contactheader{
  text-align: center;
}
#mb-3{
  align-items:center;
  background-color:#454547;
  margin-left:10%;
  height:30px;
  width:80%;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 2px solid #FFFFFF;
  border-radius: 0.25rem;
  
}


#mb-5{
  background-color:#454547;
  height:100px;
  width:80%;
  margin-left:10%;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 2px solid #FFFFFF;
  border-radius: 0.25rem;
}
#contactbutton{
  margin-left:10%;
  width:81%;
  padding:1%;
  background-color: #454547;
  color:white;
  font-family: 'Fira Code', monospace;
  font-weight:bold;
  font-size:150%;
}

@keyframes animation {
  0% {
    background-position: 0 0;
    opacity: 0;
    width: 0;
  }
  1% {
    background-position: 0 0;
    opacity: 1;
    border-right: 1px solid #1fdf59;
  }
  50% {
    background-position: 150px 0;
    opacity: 1;
    
  }
  100% {
    background-position: 400% 0;
    opacity: 1;
    
  }
}

@keyframes shring-animation {
  0% {
    background-position: 0 0;
    opacity: 0;
    width: 0;
  }
  1% {
    background-position: 0 0;
    opacity: 1;
    border-right: 1px solid #ff1d1d;
  }
  50% {
    background-position: 150px 0;
    opacity: 1;
    border-right: 1px solid #ff1d1d;
  }
  100% {
    background-position: 400% 0;
    opacity: 1;
    border-right: 1px solid #ff1d1d;
  }
}

@keyframes type {
  0% {
    width: 0;
  }
  1%, 99%{
    border-right: 1px solid #FFFFFF;
  }
  100%{
    border-right: none;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}




/* ---- particles.js container ---- */

#particles-js{
width: 100%;
height: 100%;
background-color: #232741;
background-size: cover;
background-position: 50% 50%;
background-repeat: no-repeat;
}
